<footer class="page-footer foot">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">SeedersBlock is a decentralized social media platform based on Ethereum blockchain technology that supports
                    community building and social interaction with cryptocurrency rewards.Getseeds Token can be exchanged
                    for goods & services on our inbuilt marketplace.Getseeds Token can be traded for other currencies on
                    external exchanges.The GSD token is the perfect reward for capitalizing on the decentralized nature of
                    Seeders social network that rewards Content creators and users for their use of the platform considering
                    the exponential increase in social media usage over the past years.</p>
            </div>
            <div class="col s12 m6 l3">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Charity Projects & Events</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Contacts</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Jobs</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6 l3">
                <h5 class="white-text">Top Jobs</h5>
                <ul class="collection collet-jobs">
                    <li class="collection-item avatar">
                        <img src="http://www.creativeapplications.net/wp-content/uploads/2016/05/M1-Logo-on-Light-BG-copy.jpg" alt="" class="circle">
                        <span class="title">Title</span>
                        <p>First Line
                            <br> Second Line
                        </p>
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">grade</i>
                        </a>
                    </li>
                    <li class="collection-item avatar">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBc_xrQ8m8rNcXB8pi7DOVTed7aZlHDkCba_eBGVMwOxYVZx8J" alt=""
                            class="circle">
                        <span class="title">Title</span>
                        <p>First Line
                            <br> Second Line
                        </p>
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">grade</i>
                        </a>
                    </li>
                    <li class="collection-item avatar">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfYGhvcZGJvIhOHAvGZ4zYjthCmO_mJQav4FAtQ37cB8exeaBVFQ" alt=""
                            class="circle">
                        <span class="title">Title</span>
                        <p>First Line
                            <br> Second Line
                        </p>
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">grade</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright SeedersBlock
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="/asset/js/content-tools.min.js"></script>
<script src="/asset/js/index.js"></script>
</body>

</html>