</main>
<footer class="page-footer foot">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l8">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">SeedersBlock is a decentralized social media platform based on Ethereum blockchain technology that supports
                    community building and social interaction with cryptocurrency rewards.Getseeds Token can be exchanged
                    for goods & services on our inbuilt marketplace.</p>
            </div>
            <div class="col s12 m4 l2">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Charity Projects & Events</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Contacts</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Jobs</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col s12 m4 l2">
                <h5 class="white-text">Youtube</h5>
                <ul>
                    <li>
                        <img class="responsive-img" src="https://youtu.be/L7cRgJw6NDI">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright SeedersBlock
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
<!-- Compiled and minified JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script>
    $('.search-icon').click(function () {
        $('.search-mobile').toggle();
    })

    $('.close-search').click(function() {
        $('.search-mobile').hide();
        $('.search-mobile #search').val("");
    })
</script>