<script src="/trumbowyg/dist/trumbowyg.min.js"></script>
<script src="/trumbowyg/dist/plugins/insertaudio/trumbowyg.insertaudio.min.js"></script>
<script src="/trumbowyg/dist/plugins/pasteembed/trumbowyg.pasteembed.min.js"></script>
<script src="/trumbowyg/dist/plugins/colors/trumbowyg.colors.js"></script>
<script src="/trumbowyg/plugins/upload/trumbowyg.upload.js"></script>

<script src="/asset/js/stream.js"></script>
</body>

</html>