<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>SeedersBlock</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	    crossorigin="anonymous">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<!-- material icons  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/scripts/ui/trumbowyg.min.css">
	<link rel="stylesheet" type="text/css" href="/asset/css/style.css">
</head>
<nav>
	<div class="nav-wrapper nav">
		<div class="container">
			<a href="#" class="brand-logo mv">SeedersBlock</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Stream</a>
				</li>
				<li>
					<a href="#">Marketplace</a>
				</li>

				<li>
					<a class="waves-effect waves-light btn lbtn">LOGOUT</a>
				</li>
			</ul>
		</div>

	</div>
</nav>