<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>SeedersBlock</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	    crossorigin="anonymous">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<!-- material icons  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/trumbowyg/dist/ui/trumbowyg.min.css">
	<link rel="stylesheet" href="/trumbowyg/dist/plugins/colors/ui/trumbowyg.colors.css">
	<link rel="stylesheet" href="/trumbowyg/dist/plugins/table/ui/trumbowyg.table.css">
	<link rel="stylesheet" type="text/css" href="/asset/css/style.css">
	<% if ((path !== '/seeds') && (path !== '/seeds/')) { %>
		<link rel="stylesheet" href="/asset/css/new.css">
		<%}%>
</head>
<header>
	<div class="navbar-fixed">
		<nav class="blue darken-4">
			<div class="nav-wrapper">
				<div class="brand">
					<a href="/seeds" class="logo">SeedersBlock</a>
					<a href="#" data-target="nav-mobile" class="sidenav-trigger">
						<i class="material-icons">menu</i>
					</a>
				</div>
				<div class="search">
					<form autocomplete="off">
						<div class="input-field">
							<input id="search" type="search" placeholder="Search for friends and blog post!" required>
							<label class="label-icon" for="search">
								<i class="material-icons">search</i>
							</label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div>
				<div class="stream-btn">
					<a href="/seeds/new" class="waves-effect waves-light btn">Create A Seed</a>
				</div>
				<div class="right-section">
					<div class="notifications">
						<div>
							<i class="material-icons">notifications</i>
							<span class="badge">10</span>
						</div>
						<div>
							<i class="material-icons">mail_outline</i>
							<span class="badge">10</span>
						</div>
					</div>
					<div class="user-holder">
						<% if (currentUser) { %>
							<span><%= currentUser.username %></span>
						<%}%>
						<% if (currentUser.avatar) {%>
							<img src="<%= currentUser.avatar %>" class="header-avatar">
						<% } else { %>
							<i class="material-icons">person</i>
						<% } %>
						<a href="#" data-target="user-dropdown" class="dropdown-trigger">
							<i class="material-icons">arrow_drop_down</i>
						</a>
						<ul class="dropdown-content" id="user-dropdown">
							<li>
								<a href="/settings">
									<i class="material-icons">settings</i> Settings</a>
							</li>
							<li>
								<a href="/logout">
									<i class="material-icons">power_settings_new</i> Log out</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<ul class="sidenav sidenav-fixed" id="nav-mobile">

		<li>
			<a href="/seeds">
				<i class="material-icons">home</i>Home</a>
		</li>
		<li>
			<a href="/stream">
				<i class="material-icons">art_track</i>StreamSeeds</a>
		</li>
		<li>
			<a href="mobile.html">
				<i class="material-icons">person_add</i>Following
				<span class="badge">20</span>
			</a>
		</li>
		<li>
			<a href="mobile.html">
				<i class="material-icons">people</i>Followers
				<span class="badge">1000</span>
			</a>
		</li>


		<li>
			<div class="divider"></div>
		</li>
		<div class="extra">
			<a class="waves-effect waves-light btn blue" href="#">UPGRADE</a>
			<div class="balance">
				<span>YOUR COINS</span>
				<i class="material-icons">cloud</i>
				<p>520
					<br>
					<span>GSD</span>
				</p>
			</div>
		</div>
	</ul>
</header>
<main>