
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

html, body {
	width: 100vw;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

.wrapper {
	padding: 30px 120px;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: unset;
}

.brand {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: white;
}

.nav-link {
	color: #022585;
}

.button  {
	background: white;
	padding: 10px 40px;
	border-radius: 24px;
	font-size: 0.9em;
	font-weight: bold;
}

#hero {
	background: #0575E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
}

.hero-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero-text {
	width: 40%;
	line-height: 1.5;
	padding-top: 40px;
}

.hero-vector {
	width: 400px;
}

.hero-text h1 {
	font-size: 2.5em;
	color: white;
	font-weight: bold;
}

.hero-text .lead {
	color: white;
	font-weight: 300;
	margin: 20px 0;
}

.hero-text .button {
	color: #056cdb;
	border-radius: 5px;
}

#footer {
    width: 100vw;
    background: #232323FF;
}

.footer-container {
    padding: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Roboto";
}

.widget {
    min-width: 240px;
    max-width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.widget-about .widget-title {
    margin-bottom: 30px;
    color: #fff;
}
.about-text {
    font-weight: 100;
    color: #AAAAAAFF;
    font-size: .9em;
    line-height: 1.5;
}
.widget-title {
    margin-bottom: 30px; 
    color: #AAAAAAFF;
    font-size: 0.95em;
    font-family: "Raleway", sans-serif;
    letter-spacing: 3px;
}

.widget-body {
    color: white;
    font-weight: 300;
    font-size: .9em;
    line-height: 1.5;
}
ol, ul {
    list-style: none;
}
.widget-title p {
    position: relative;
    margin-top: 5px;
}
#socials {
    background: #111111FF;
    padding: 25px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-widget {
    width: 400px;
    color: #fff;
    
}
ol, ul {
    list-style: none;
}
#socials li {
    display: inline-block;
    font-size: 24px;
    padding: 15px;
}
.copyright {
    color: #AAAAAAFF;
    font-family: "Roboto";
    font-size: .9em;
}
.terms {
    color: #AAAAAAFF;
    font-family: "Roboto";
    font-size: .9em;
    text-decoration: none;
    position: relative;
    right: 50px;
}

.subscribe-input {
	width: 100%;
	outline: none;
	border-radius: 4px;
	border: 1px solid grey;
	padding: 5px;
}

button.button {
	border: 0;
	margin-top: 10px;
	outline: none;
	cursor: pointer;
}

#intro {
	text-align: center;
}

.sponsor-carousel {
	margin-bottom: 60px;
}

.sponsor-carousel h4 {
	font-family: cursive;
	color: #666;
	margin-bottom: 20px;
}

.sponsors-logos {
	width: 100%;
	height: 50px;
	background: #666;
	line-height: 50px;
}

.intro-container {
	margin-bottom: 30px;
}

.intro-container h2 {
	font-size: 1.9em;
	font-weight: 900;
	color: #021B79;
	margin-bottom: 20px;
}

.intro-container p {
	line-height: 2.0;
	padding: 0 200px;
	color: #333;
}

#posts {
	display: flex;
	flex-direction: row;
}

.control-div {
	flex: 1 0 auto;
	width: 33.3%;
	display: flex;
	flex-direction: column;
}

.controls {
	display: flex;
	flex-direction: row;
}

.control-div h3 {
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.6;
	margin-bottom: 10px;
}

.control {
	font-size: 2em;
	color: #021B79;
	margin-right: 5px;
}

.post-view {
	height: 280px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: hidden;
	align-items: center;
}

.post {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 98%;
	margin: 0 15px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.5);
	border-radius: 4px;
}

.post-image {
	width: 280px;
	height: 130px;
	background-size: cover;
	background-position: center;
	background-image: url("https://images.pexels.com/photos/942317/pexels-photo-942317.jpeg?auto=compress&cs=tinysrgb&h=350");
}

.post-title {
	color: #021B79;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.4em;
	padding-bottom: 10px;
}

.post-text {
	padding-bottom: 10px;
}

.post-body {
	padding: 0 20px;	
}

#features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature {
    height: 300px;
    min-width: 250px;
    max-width: 250px;
    border: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 24px;
    line-height: 1.5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.feature-icon{
    font-size: 100px;
    align-self: center;
    color: #056cdb;
}
.feature-title{
    font-weight: bolder;
    font-size: 1.2em;
    color: #021B79;
}
.feature-text{
    color: #666666;
    font-size: 1.1em;   
}

.avatar {
	border-radius: 50%;
	width: 80px;
	box-shadow: 3px 4px 10px 4px #D9E0E2FF;
}

.hide {
	display: none;
}

#calloutbtn {
	text-align: center;
}

button.button {
	border-radius: 4px;
	color: white;
	font-family: Roboto;
}

.blue  {
	background: #021B79;
}

#testimonials {
	position: relative;
	height: 400px;
	margin-top: 50px;
}

#testimonials, #posts, #hero, #calloutbtn {
	margin-bottom: 50px;
}

#testimonials > * {
	position: absolute;
}

.viewer {
	top: 40%;
	left: 25%;
	width: 680px;
	text-align: center;
}

#testimonials div:nth-of-type(2) {
	top: 100px;
	left: 213px;
}

#testimonials div:nth-of-type(3) {
	top: 100px;
	right: 213px;
}

#testimonials div:nth-of-type(4) {
	bottom: 60px;
	right: 300px;
}

#testimonials div:nth-of-type(5) {
	bottom: 60px;
	left: 300px;
}

#testimonials div:nth-of-type(6) {
	top: 30px;
	left: 47%;
}

.viewer {
	font-size: 1.3em;
	line-height: 1.6;
	color: #444;
}

.viewer .lead {
	font-size: 0.75em;
}