<% include ./partials/header %>

    <h1>User Dashboard</h1>
    <div class="row">
        <div class="col s12 m6">
            <div class="card-panel">
                <div class="card-content">
                    <div class="user-acc">
                        <div>
                            <i class="material-icons">account_box</i>

                        </div>
                        <div> </div>
                    </div>
                    <div class="user-details">
                        <H2>John Harvester</H2>
                        <textarea placeholder="Your personal seeder network status">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>
        <% include  ./partials/footerDashboard %>