<!DOCTYPE html>
<html>

<head>
    <title>Seeders Block</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="./asset/css/niceCountryInput.css">
    <link rel="stylesheet" href="./asset/css/bootstrap-formhelpers.min.css  ">
    <link rel="stylesheet" type="text/css" href="./asset/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
</head>

<body>
    <main>
        <section id="hero" class="wrapper">
            <nav class="nav-bar">
                <div class="brand">
                    <a href="/seeds">SEEDERSBLOCK</a>
                </div>
                <div class="buttons">
                    <a href="#" class="nav-login button">Log in</a>
                    <a href="#" class="nav-register button">Sign up</a>
                </div>
            </nav>
            <div class="hero-wrapper">
                <div class="hero-text">
                    <h1>SeedersBlock - A Reward Based Content Sharing Platform</h1>
                    <p class="lead">Ultimately, for talented people in artworks and writings to showcase their talent to the world</p>
                    <a href="#" class="button">Get started today!</a>
                    <div class="platforms">
                        <a href="#">
                            <img src="asset/img/google-play-en.png" alt="Play Store">
                        </a>
                        <a href="#">
                            <img src="asset/img/appstore.png" alt="App store">
                        </a>
                    </div>
                </div>
                <div class="hero-vector">
                    <object data="asset/img/landing_vector.svg"></object>
                </div>
            </div>
        </section>
        <section id="intro" class="wrapper">
            <div class="sponsor-carousel">
                <h4>Supported By:</h4>
                <div class="sponsors-logos">
                    <img src="asset/img/1_8_8HJUuZlAWNVXqzyGuyvA-e1524912266595 copy.png">
                    <img src="asset/img/5D9906E4-164F-4249-884C-A04773597240 copy.png">
                    <img src="asset/img/ImToken-300x133 copy.png">
                    <img src="asset/img/logo.png">
                    <img src="asset/img/Logo_GIF.gif">
                    <img src="asset/img/w1-e1524912305452 copy.png">
                </div>
            </div>
            <div class="intro-container">
                <h2>SeedersBlock</h2>
                <h3>What is it about?</h3>
                <p>SeedersBlock as a tool for building perpetually growing communities, which encourage their members to add
                    value to the community through the built-in rewards structure and receive rewards in the form of Getseeds
                    Tokens. Ultimately, for talented people in artworks and writings to showcase their talent to the world.</p>
            </div>
        </section>
        <section id="features" class="wrapper">
            <div class="feature">
                <i class="fas fa-comments feature-icon"></i>
                <h3 class="feature-title">Social Network Reward System</h3>
                <p class="feature-text">Built using a cryptocurrency reward system. Receive some amounts of Getseeds into their Getseeds Wallets
                    on the SeedersBlock.</p>
            </div>
            <div class="feature">
                <i class="fas fa-users feature-icon"></i>
                <h3 class="feature-title">Reapers (Organization)</h3>
                <p class="feature-text">Companies can hire users of SeedersBlock for digital jobs, like web development, graphics designs, using
                    our decentralized Getseeds.</p>
            </div>
            <div class="feature">
                <i class="fas fa-cart-plus feature-icon"></i>
                <h3 class="feature-title">Inbuilt Market place</h3>
                <p class="feature-text">The Tokens can be exchanged for goods and services on the market place. The platform is easy to use and understand.</p>
            </div>
            <div class="feature">
                <i class="fas fa-bullhorn feature-icon"></i>
                <h3 class="feature-title">Advertisement Portals</h3>
                <p class="feature-text">Seeders can upgrade their account to advertise their product and services using Getseeds Token for payment.</p>
            </div>
        </section>
        <section id="calloutbtn">
            <button class="button blue">
                <a href="#hero">Get started today!</a>
            </button>
        </section>
        <!-- <section id="testimonials">
            <div class="viewer">
                <p class="viewer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae aut eaque dolorum voluptatem veniam,
                    eius.Recusandae aut eaque dolorum voluptatem veniam, eius. Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="viewer-lead">John Doe, @ World Bank</p>
            </div>
            <div class="testimonial">
                <img src="./asset/img/ui-face1.jpg" class="avatar">
                <p class="text hide">1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos tenetur dolorum, corporis consectetur repudiandae
                    quasi.
                </p>
                <p class="lead hide">1Jack Smith, @ Global Bank</p>
            </div>
            <div class="testimonial">
                <img src="./asset/img/ui-face2.jpg" class="avatar">
                <p class="text hide">2Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam inventore deleniti quisquam, eum, maxime
                    quia!
                </p>
                <p class="lead hide">2Misty Steve, @ Nairobi</p>
            </div>
            <div class="testimonial">
                <img src="./asset/img/ui-face3.jpg" class="avatar">
                <p class="text hide">3Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam maxime labore repellat eum accusantium?
                    Ipsum.
                </p>
                <p class="lead hide">3Susan Love, @ Croatia</p>
            </div>
            <div class="testimonial">
                <img src="./asset/img/ui-face4.jpg" class="avatar">
                <p class="text hide">4Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus molestiae quis nobis ipsam, et obcaecati.</p>
                <p class="lead hide">4Elvis Presley, @ Los Angeles</p>
            </div>
            <div class="testimonial">
                <img src="./asset/img/ui-face5.jpg" class="avatar">
                <p class="text hide">5Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non temporibus officia, neque eaque voluptas labore!</p>
                <p class="lead hide">5John Doe, @ World Bank</p>
            </div>
        </section> -->
        <section id="posts" class="wrapper">
            <div class="control-div">
                <h3>We believe in sharing.
                    <br>Check out our blog posts:</h3>
                <div class="controls">
                    <div class="control-left control">
                        <i class="fas fa-arrow-circle-left"></i>
                    </div>
                    <div class="control-right control">
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div>
            <div class="post-view">
                <div class="post">
                    <div class="post-image"></div>
                    <div class="post-body">
                        <h4 class="post-title">
                            7 ways Getseeds will help grow your business exponentially
                        </h4>
                        <div class="post-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident explicabo placeat accusantium
                                dolorem dicta animi ullam voluptatibus, optio nostrum nam!</p>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="post-image"></div>
                    <div class="post-body">
                        <h4 class="post-title">
                            7 ways Getseeds will help grow your business exponentially
                        </h4>
                        <div class="post-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident explicabo placeat accusantium
                                dolorem dicta animi ullam voluptatibus, optio nostrum nam!</p>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="post-image"></div>
                    <div class="post-body">
                        <h4 class="post-title">
                            7 ways Getseeds will help grow your business exponentially
                        </h4>
                        <div class="post-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident explicabo placeat accusantium
                                dolorem dicta animi ullam voluptatibus, optio nostrum nam!</p>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="post-image"></div>
                    <div class="post-body">
                        <h4 class="post-title">
                            7 ways Getseeds will help grow your business exponentially
                        </h4>
                        <div class="post-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident explicabo placeat accusantium
                                dolorem dicta animi ullam voluptatibus, optio nostrum nam!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section id="footer">
            <div class="footer-container">
                <div class="widget widget-about">
                    <div class="widget-title">Seedersblock</div>
                    <div class="about-text">SeedersBlock is a decentralized social media platform based on Ethereum blockchain technology that supports
                        community building and social interaction with cryptocurrency rewards. Getseeds Token can be exchanged
                        for goods & services on our inbuilt marketplace.</div>
                </div>
                <div class="widget widget-service">
                    <div class="widget-title">
                        <p>OUR PRODUCTS</p>
                    </div>
                    <div class="widget-body">
                        <ul>
                            <li>
                                <a href="#">Getseeds Token</a>
                            </li>
                            <li>
                                <a href="#">SeedersBlock</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-contact">
                    <div class="widget-title">
                        <p>CONTACT PERSONS</p>
                    </div>
                    <div class="widget-body">
                        <p>
                            Email: contact@seedersblock.com
                            <br> Elvis -
                            <a href="tel:+2348108156732">(+234) 810 815 6732</a>
                            <br> Ayobamidele -
                            <a href="tel:+2349033016873">(+234) 903 301 6873</a>
                        </p>
                    </div>
                </div>

                <div class="widget widget-subscribe">
                    <div class="widget-title">
                        <p>Subscribe</p>
                    </div>
                    <div class="widget-body">
                        <form action="#">
                            <input type="text" placeholder="Email Address" class="subscribe-input">
                            <button class="button">Subcribe now</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section id="socials">
            <div class="social-widget">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f">
                        </a>
                        </i>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="terms">
                <a href="terms.html">Term & Conditions</a>
            </div>
            <div class="copyright">
                Copyright © SeedersBlock 2018. All rights reserved.
            </div>
        </section>
    </footer>

    <!-- MODALS -->

    <!-- REGISTER FORM -->
    <section class="modal modal-register">
        <form class="form-modal" id="signupForm" action="/register" method="POST">
            <div class="step-one">
                <h1>Create an account</h1>
                <div class="names">
                    <div>
                        <input type="text" id="firstname" name="user[firstname]" required placeholder="First Name">
                    </div>
                    <div>
                        <input type="text" id="lastname" name="user[lastname]" required placeholder="Last Name">
                    </div>
                </div>
                <div class="username">
                    <input type="text" id="username" name="username" required placeholder="Username">
                </div>
                <div class="email">
                    <input type="email" name="user[email]" id="email" placeholder="Email">
                </div>
                <hr>
                <button type="button" class="button">Next</button>
            </div>
            <div class="step-two">
                <h1>Second Step of Registration</h1>
                <div class="more-details">
                    <div class="birth-date">
                        <p>Date of birth</p>
                        <input type="date" name="user[dateOfBirth]" required id="dateOfBirth">
                    </div>
                    <div class="occupation">
                        <p>Occupation</p>
                        <input type="text" name="user[occupation]" id="occupation" placeholder="blogger,designer">
                    </div>
                </div>
                <div class="gender">
                    <input type="radio" name="user[gender]" id="male" value="male">
                    <label for="male">Male</label>
                    <input type="radio" name="user[gender]" id="female" value="female">
                    <label for="female">Female</label>
                </div>
                <div class="location">
                    <select name="user[country]" id="countries_states1" class="form-control bfh-countries" data-country="NG"></select>
                    <select name="user[state]" class="form-control bfh-states" data-country="countries_states1"></select>
                    <select name="user[language]" class="form-control bfh-languages" data-language="en_US" data-available="en_US,fr_CA,es_MX">
                    </select>
                </div>
                <hr>
                <div class="password">
                    <div>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <div>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password">
                    </div>
                </div>
                <div class="tnc">
                    <input type="checkbox" name="agree" id="agree" value="agree">
                    <label for="agree">
                        <a href="#">I agree with SeedersBlock social network terms of use.</a>
                    </label>
                </div>
                <div class="newsletter">
                    <input type="checkbox" name="newsletter" id="newsletter" value="newsletter">
                    <label for="newsletter">I'd like to receive the newsletter</label>
                </div>
                <input class="button" type="submit" value="Create account">
            </div>
        </form>
    </section>

    <!-- LOGIN FORM -->
    <section class="modal modal-login">
        <form class="form-modal" id="loginForm" action="/login" method="POST">
            <h1>Login to your account</h1>
            <div>
                <input type="text" id="login-username" name="username" required placeholder="Username">
            </div>
            <div>
                <input type="password" id="login-password" name="password" required placeholder="Password">
            </div>
            <div class="forgot-pwd">
                <a href="#">Forgot your password?</a>
            </div>
            <input class="button" type="submit" value="Log in">
        </form>
    </section>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="asset/js/niceCountryInput.js"></script>
    <script src="asset/js/bootstrap-formhelpers.min.js"></script>
    <script src="asset/js/jquery.validate.min.js"></script>
    <script src="asset/js/additional-methods.min.js"></script>
    <script src="asset/js/main.js"></script>
</body>

</html>