main,
footer {
  padding-left: 250px;
}

.sidenav {
  width: 250px;
  padding-top: 30px;
  margin-top: 66px;
}

@media only screen and (max-width: 992px) {
  main,
  footer {
    padding-left: 0;
  }
}

.extra {
	margin: 30px auto;
	width: 75%;
	text-align: center;
}

.extra a {
	margin-bottom: 30px;
}

.balance {
	border: 1px solid #e0e0e0;
	position: relative;
	display: flex;
	padding: 30px;
	justify-content: center;
	border-radius: 4px;
}

.balance p {
	font-size: 2rem;
	margin: 0;
	line-height: 1.2rem;
}

.balance span {
	font-size: 0.75rem;
}

.balance i {
	font-size: 3rem;
}

.balance > span {
	position: absolute;
	top: -8px;
	background: white;
	left: 33%;
}

.sidenav-fixed span.badge {
  margin-left: 0px;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.user-acc i {
  font-size: 180px;
}