main,
footer {
  padding-left: 250px;
}

.sidenav {
  width: 250px;
  padding-top: 30px;
  margin-top: 66px;
}

@media only screen and (max-width: 992px) {
  main,
  footer {
    padding-left: 0;
  }
  
}

.extra {
  margin: 30px auto;
  width: 75%;
  text-align: center;
}

.extra a {
  margin-bottom: 30px;
}

.balance {
  border: 1px solid #e0e0e0;
  position: relative;
  display: flex;
  padding: 30px;
  justify-content: center;
  border-radius: 4px;
}

.balance p {
  font-size: 2rem;
  margin: 0;
  line-height: 1.2rem;
}

.balance span {
  font-size: 0.75rem;
}

.balance i {
  font-size: 3rem;
}

.balance>span {
  position: absolute;
  top: -8px;
  background: white;
  left: 33%;
}

.sidenav-fixed span.badge {
  margin-left: 0px;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
}

.card-panel > .card-content form {
  display: flex;
  justify-content: space-between;
}

.user-acc i {
  font-size: 180px;
}

.user-details {
	width: 70%;
}

.user-details .prefix {
	right: 0;
	color: grey;
}

.user-details textarea {
	margin-left: 0 !important;
	margin-right: 3rem;
}

input[type=text]:not(.browser-default), input[type=date]:not(.browser-default) {
	height: auto;
	border-bottom: none;
}

.gsd-btn {
  text-align: center;
}

.gsd-btn a {
  width: 135px;
  border: 1px solid #0a64d3;
} 

.buy-gsd {
  margin-top: 8px;
  text-align: center;
}

.buy-gsd a, .gsd-btn a {
  width: 135px;
  border-radius: 30px;
}

.updateProfilebtn {
  margin-top: 30px;
}

/*******************************************************************
STREAM STYLES
********************************************************************/
.stream {
  width: 500px;
  float: left;
  margin-left: 100px;
}

.stream .card-action {
  padding-left: 60px;
  padding-right: 60px;
}

.comment .valign-wrapper {
  justify-content: space-between;
  width: 100%;
}

.comment-meta {
  flex: 1 1 auto;
}

.comment .user-avatar {
  width: 35px;
  margin-left: 0;
}

.comment p {
  margin: 0;
}

.comment {
  margin-bottom: .5rem;
}

.comments-section .card-panel {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comments-section {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 992px) {
  .stream {
    margin: 0;
    width: 100%;
  }

  .comment-meta {
    flex-direction: column;
  }

  .stream .card-action {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/******************************************************************************
  SETTINGS PAGE
******************************************************************************/
#imageUpload {
  display: none;
}

#profileImage {
  cursor: pointer;
}

#profile-container {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
}

#profile-container img {
    width: 140px;
    height: 140px;
}

#profile-container span {
  position: absolute;
  top: calc(50% - 7px);
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0,0,0,0.3);
  text-align: center;
  cursor: pointer;
}

/*Voting Widget*/

.voting-widget {
  width: 90px;
  height: 100px;
  position: fixed;
  margin-top: 200px;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.voting-widget > i {
  cursor: pointer;
  color: #555;
}

.voting-widget > span {
  color: #555;
  font-size: 1.2rem;
  font-weight: 500;
}

.voted {
  color: blue !important;
  animation: pop 300ms ease-out;
}

@keyframes pop{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}