.foot {
	background-color: #0a64d3;
}

.card .divider {
	margin: 10px 0;
}

.user-avatar {
	width: 50px;
}

.card-panel .author-meta .user-avatar {
	width: 50px;
}

.header-avatar {
	width: 35px;
	border-radius: 50%;
}

.seed-meta {
	margin-left: 20px;
}

.card {
	cursor: pointer;
}

.card .link,
.wrap-link {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	text-decoration: none;
}

.earnings {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	color: gold;
	font-weight: bolder;
	background-color: rgba(0, 0, 0, 0.3);
}

.earning span {
	color: gold;
	font-weight: bold;
	font-size: 18px;
	position: relative;
}

.earning .sow {
	position: absolute;
	width: 210px;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.7);
	align-items: center;
	border-radius: 5px;
	right: -50%;
	display: none;
	opacity: 0;
}

.actions .earning .sow {
	right: -88%;
	bottom: 145%;
}

.earning .sow p {
	color: white;
	margin-top: 7px;
}

.earning .sow div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 7px;
}

.earning .sow div input,
.earning .sow div button {
	border-bottom: unset;
	margin: unset;
	padding: 5px;
	outline: none;
	border-radius: 20px;
}

.earning .sow div input[type=number] {
	background: #ecf0f1;
	height: unset;
	color: #055458;
	flex: 0 1 auto;
	text-align: center;
	width: 60px;
	margin-left: 10px;
	margin-right: 10px;
}

.earning .sow div button {
	background: none;
	background: #0596EFFF;
	border: 0;
	border-radius: 20px;
	cursor: pointer;
	flex: 0 1 80px;
}

.earning:hover .sow {
	display: flex;
	opacity: 1;
}

input[type=number]:not(.browser-default):focus:not([readonly]) {
	border-bottom: unset;
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

.card-content p {
	height: 44px;
}

.card-title {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.card-action span>span {
	font-size: 0.9em;
}

.card-action {
	display: flex;
	justify-content: space-between;
}

.card-action i {
	font-size: 1.3em;
	color: #555555;
}

.section .container {
	width: 90%;
}

.head-bg {
	background: #000;
	position: relative;
	padding: 10px;
	margin-bottom: 50px;
	height: 400px;
}

.head-bg-img {
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(/asset/img/headers.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	opacity: 0.2;
	background-position: center center;
}

.edit {
	background-color: #8125e3;
}

/*******************************************************************************************
	Show route styles
*******************************************************************************************/
.content-display {
	padding-left: 10%;
	padding-right: 10%;
}

.author-meta .user-avatar {
	margin-right: 10px;
	width: 70px;
}

.featured-img {
	height: 400px;
}

.show {
	display: flex !important;
	opacity: 1 !important;
	transition: all 0.4s ease-out;
}

.hide {
	display: none !important;
	opacity: 0 !important;
}

.delete-seed-btn {
	margin-left: 20px;
}

/*******************************************************************************************
	Comment styles
*******************************************************************************************/
.card-panel .user-avatar {
	margin-right: 10px;
	margin-left: 5px;
}

.add-comment .row {
	margin-bottom: 0;
}

.add-comment .user-avatar {
	padding-top: 14px;
}

nav .search {
	height: 60%;
	width: 40%;
	align-self: center;
	border: 1px solid white;
	border-radius: 30px;
}

.input-field input[type=search]:focus:not(.browser-default) {
	color: white;
	background: none;
	border-radius: 30px;
}

nav .search .label-icon {
	top: 0.5rem;
}

.dropdown-trigger {
	outline: none;
}

nav .dropdown-content {
	width: 140px !important;
}

.dropdown-content i.material-icons {
	margin-right: 5px !important;
}

.nav-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 20px;
}

.nav i,
nav i.material-icons {
	line-height: normal;
	height: unset;
}

.right-section {
	display: flex;
	width: 200px;
	justify-content: space-between;
}

.user-holder {
	width: 100px;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 20px;
}

.nav i,
nav i.material-icons {
	line-height: normal;
	height: unset;
}

.right-section {
	display: flex;
	width: 200px;
	justify-content: space-between;
}

.notifications {
	display: flex;
	align-items: center;
}

.notifications>div {
	position: relative;
	margin-right: 10px;
}

.notifications .badge {
	min-width: unset;
	padding: 3px;
	margin-left: 0;
	line-height: 1;
	background: red;
	color: unset;
	border-radius: 50%;
	font-size: 0.7rem;
	font-weight: bold;
	height: unset;
	position: absolute;
	top: -4px;
	left: 14px;
}

/* create stream btn */
.stream-btn .btn {
	border-radius: 70px;
	background-color: #8d6dc4;
	margin-left: 5px;
}

input[type=text]:not(.browser-default):disabled {
	color: unset !important;
	border-bottom: none !important;
}

/****************************************************************************
	SIDENAV STYLES
*********************************************************************************/
.sidenav {
	width: 250px;
	padding-top: 30px;
	margin-top: 66px;
	background-color: #0e47a1;
}

.extra {
	margin: 30px auto;
	width: 75%;
	text-align: center;
}

.extra a {
	margin-bottom: 30px;
}

.balance {
	border: 1px solid #e0e0e0;
	position: relative;
	display: flex;
	padding: 30px;
	justify-content: center;
	border-radius: 4px;
	align-items: center;
}

.balance p {
	font-size: 2rem;
	color: gold;
	margin: 0;
	line-height: 1.2rem;
}

.balance .unit {
	font-size: 0.75rem;
}

.balance img {
	width: 3rem;
	margin-right: 10px;
}

.balance>span {
	position: absolute;
	top: -8px;
	background: white;
	left: 29%;
}

span.badge {
	margin-left: 0px;
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: #26a69a;
	border-radius: 2px;
}

.close {
	position: absolute !important;
	right: 0;
	margin-top: 7px;
	margin-right: 7px;
	cursor: pointer;
	color: #F44336FF !important;
}

/******************************************************************************
	MOBILE STYLES
******************************************************************************/
@media (max-width: 400px) {
	div.brand {
		display: flex;
		align-items: center;
		margin-right: 30px;
	}

	.brand .sidenav-trigger {
		order: 0;
		margin: 0;
		margin-right: 5px;
		height: unset;
	}

	.brand .logo {
		order: 1;
	}

	.head-bg {
		height: 200px;
		margin-bottom: 0;
	}

	.actions .earning .sow {
		right: -100px;
	}
}

/******************************************************************************
	Editor styling
******************************************************************************/
.trumbowyg-button-pane {
	background: skyblue;
	color: #e0e0e0;
}

/******************************************************************************
	Sidenavs styling
******************************************************************************/
.sidenav.sidenav-fixed,
.sidenav {
	background-color: #0e47a1;
}

.sidenav li>a {
	color: #fff;
}

.sidenav li>a>i,
.sidenav li>a>[class^="mdi-"],
.sidenav li>a li>a>[class*="mdi-"],
.sidenav li>a>i.material-icons {
	color: #fff;
}

/******************************************************************************
	feature-img styling
******************************************************************************/
.feature-img {
	z-index: 2;
}

.f-box-shadow {
	background: #fff;
	box-shadow: 0 0 8px rgba(14, 8, 8, 0.52);
	position: relative;
}

.feed-bar--padded {
	padding: 13px 20px;
}

.feed-bar {
	align-items: center;
	display: flex;
	height: 60px;
	justify-content: space-between;
}

.feed-bar {
	background: #fff;
	position: relative;
	width: 100%;
}

/******************************************************************************
	Search Page
******************************************************************************/
.results {
	height: 70vh;
}

.no-results {
	display: flex;
	align-items: center;
}

.header>a {
	margin-left: auto;
}

.header>.title {
	margin-left: 10px;
	font-weight: bold;
}

.empty {
	background-color: rgba(0, 0, 0, 0.03);
}

.item {
	height: 200px;
	display: flex;
	background-color: rgba(0, 0, 0, 0.03);
	padding: 10px;
}

.users .item {
	height: 140px;
}

.streams .item {
	height: unset;
}

.item>.featuredImg {
	min-width: 40%;
	height: 100%;
}

.item>.description {
	padding-left: 5%;
	padding-right: 10px;
}

.item>.description .title {
	font-size: 1.1em;
	font-weight: 500;
	color: #039be5;
}

.item>.description .meta {
	font-size: 0.9em;
	font-weight: lighter;
	color: #26a69a;
}

.item>.description>.excerpt img {
	width: 30%;
	float: right;
	margin-left: 10px;
}

.search-mobile {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100vw;
	height: 40px;
	padding: 10px;
	border-radius: 30px;
	border: 1px solid white;
	display: none;
	background-color: #333;
}

.close-search {
	color: white !important;
}

.search-mobile #search {
	width: 100%;
}

/*********************************************************************
	NOTIFICATIONS STYLES
**********************************************************************/
.no-notification {
	text-align: center;
}

.no-notification i {
	font-size: 5em !important;
}

.notifications-trigger {
	cursor: pointer;
}

.notifications-list {
	position: absolute;
	width: 390px;
	padding: 15px 0;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 30px #a2b5c3;
	background-color: #fff;
	color: #414141;
	transition: .3s;
	top: 40px;
	right: 0;
	display: none;
}

.notifications-list .header {
	padding: 0 18px 10px;
	line-height: normal;
}

.notifications-list li {
	width: 100%;
	padding: 0px 15px;
	line-height: normal;
}

.notifications-list .header h6 {
	font-size: 13px;
	color: #587489;
	white-space: nowrap;
	text-decoration: underline;
	text-decoration-color: #d7effe;
	font-weight: 500;
}

.notification-item .wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #d7effe;
	padding: 10px 0;
}

.notification-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.notification-item .left {
	display: flex;
}

.notification-item .left .notification-data {
	display: flex;
	flex-direction: column;
}

.notification-avatar {
	width: 45px;
	border-radius: 50%;
	margin-right: 20px;
}

.notification-data .user {
	color: #0596f0;
	font-size: 1.1em;
}

.notification-data .user a {
	transition: unset;
	font-size: unset;
	color: unset;
	display: unset;
	padding: unset;
}

.notification-data .info,
.notification-item .created {
	font-size: 12px;
}

@media (max-width: 400px) {
	.notifications-list {
		position: fixed;
		top: 60px;
		left: 0;
		width: 95%;
		margin: 0 auto;
	}
}


/***********************************************************************************
	MESSENGER
***********************************************************************************/

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 90%;
  --blue: #00b0ff;
}

/*body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/image.jpg");
  background-size: cover;
  background-repeat: none;
}*/

.chatbox-wrapper {
  position: relative;
  left: 50%;
  width: var(--wrapper);
  height: 700px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.chatbox-wrapper .container {
  position: relative;
  top: 40%;
  left: 50%;
  width: 100%;
  height: 80%;
  background-color: var(--white);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.chatbox-wrapper .container .left {
  float: left;
  width: 37.6%;
  height: 100%;
  border: 1px solid var(--light);
  background-color: var(--white);
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}
.chatbox-wrapper .container .left .top {
  position: relative;
  width: 100%;
  height: 96px;
  padding: 29px;
}
.chatbox-wrapper .container .left .top:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: var(--light);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.chatbox-wrapper .container .left input {
  float: left;
  width: 188px;
  height: 42px;
  padding: 0 15px;
  border: 1px solid var(--light);
  background-color: #eceff1;
  border-radius: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.chatbox-wrapper .container .left input:focus {
  outline: none;
}
.chatbox-wrapper .container .left a.search {
  display: block;
  width: 200px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  height: 42px;
  margin: 0 auto;
  border: 1px solid var(--light);
  background-color: var(--blue);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png");
  background-repeat: no-repeat;
  background-position: top 12px left 14px;
  border-radius: 5%;
}
.chatbox-wrapper .container .left .people {
  margin-left: -1px;
  border-right: 1px solid var(--light);
  border-left: 1px solid var(--light);
  width: calc(100% + 2px);
}
.chatbox-wrapper .container .left .people .person {
  position: relative;
  width: 100%;
  padding: 12px 10% 16px;
  cursor: pointer;
  background-color: var(--white);
}
.chatbox-wrapper .container .left .people .person:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: var(--light);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.chatbox-wrapper .container .left .people .person img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}
.chatbox-wrapper .container .left .people .person .name {
  font-size: 14px;
  line-height: 22px;
  color: var(--dark);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.chatbox-wrapper .container .left .people .person .time {
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 10%;
  padding: 0 0 5px 5px;
  color: var(--grey);
  background-color: var(--white);
}
.chatbox-wrapper .container .left .people .person .preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--grey);
}
.chatbox-wrapper .container .left .people .person.active, .chatbox-wrapper .container .left .people .person:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: var(--blue);
  width: calc(100% + 2px);
  padding-left: calc(10% + 1px);
}
.chatbox-wrapper .container .left .people .person.active span, .chatbox-wrapper .container .left .people .person:hover span {
  color: var(--white);
  background: transparent;
}
.chatbox-wrapper .container .left .people .person.active:after, .chatbox-wrapper .container .left .people .person:hover:after {
  display: none;
}
.chatbox-wrapper .container .right {
  position: relative;
  float: left !important;
  width: 62.4%;
  height: 100%;
}
.chatbox-wrapper .container .right .top {
  width: 100%;
  height: 47px;
  padding: 15px 29px;
  background-color: #eceff1;
}
.chatbox-wrapper .container .right .top span {
  font-size: 15px;
  color: var(--grey);
}
.chatbox-wrapper .container .right .top span .name {
  color: var(--dark);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.chatbox-wrapper .container .right .chat {
  position: relative;
  display: none;
  overflow-y: auto;
  padding: 0 35px 92px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--light);
  height: 470px;
  /*justify-content: flex-end;*/
  /*flex-direction: column;*/
}
.chatbox-wrapper .container .right .chat.active-chat {
  display: block;
  /*display: flex;*/
}
.chatbox-wrapper .container .right .chat.active-chat .bubble {
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}
.chatbox-wrapper .container .right .chat.active-chat .bubble:nth-of-type(1) {
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
}
.chatbox-wrapper .container .right .chat.active-chat .bubble:nth-of-type(2) {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.chatbox-wrapper .container .right .chat.active-chat .bubble:nth-of-type(3) {
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
}
.chatbox-wrapper .container .right .chat.active-chat .bubble:nth-of-type(4) {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.chatbox-wrapper .container .right .chat.active-chat .bubble:nth-of-type(5) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}
.chatbox-wrapper .container .right .chat.active-chat .bubble:nth-of-type(6) {
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}
.chatbox-wrapper .container .right .chat.active-chat .bubble:nth-of-type(7) {
  -webkit-animation-duration: 1.05s;
          animation-duration: 1.05s;
}
.chatbox-wrapper .container .right .chat.active-chat .bubble:nth-of-type(8) {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}
.chatbox-wrapper .container .right .chat.active-chat .bubble:nth-of-type(9) {
  -webkit-animation-duration: 1.35s;
          animation-duration: 1.35s;
}
.chatbox-wrapper .container .right .chat.active-chat .bubble:nth-of-type(10) {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.chatbox-wrapper .container .right .write {
  position: absolute;
  bottom: 0;
  left: 30px;
  height: 42px;
  padding-left: 8px;
  border: 1px solid var(--light);
  background-color: #eceff1;
  width: calc(100% - 58px);
  border-radius: 5px;
}
.chatbox-wrapper .container .right .write input {
  font-size: 16px;
  float: left;
  width: 85%;
  height: 40px;
  padding: 0 10px;
  color: var(--dark);
  border: 0;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.chatbox-wrapper .container .right .write .write-link.attach:before {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png");
  background-repeat: no-repeat;
  background-position: center;
}
.chatbox-wrapper .container .right .write .write-link.smiley:before {
  /*display: inline-block;*/
  display: none;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png");
  background-repeat: no-repeat;
  background-position: center;
}
.chatbox-wrapper .container .right .write .write-link.send:before {
  display: inline-block;
  float: right;
  width: 20px;
  height: 42px;
  margin-right: 11px;
  content: '';
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png");
  background-repeat: no-repeat;
  background-position: center;
}
.chatbox-wrapper .container .right .bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
}
.chatbox-wrapper .container .right .bubble:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  -webkit-transform: rotate(29deg) skew(-35deg);
          transform: rotate(29deg) skew(-35deg);
}
.chatbox-wrapper .container .right .bubble.you {
  float: left;
  color: var(--white);
  background-color: var(--blue);
  align-self: flex-start;
  -webkit-animation-name: slideFromLeft;
          animation-name: slideFromLeft;
}
.chatbox-wrapper .container .right .bubble.you:before {
  left: -3px;
  background-color: var(--blue);
}
.chatbox-wrapper .container .right .bubble.me {
  float: right;
  color: var(--dark);
  background-color: #eceff1;
  align-self: flex-end;
  -webkit-animation-name: slideFromRight;
          animation-name: slideFromRight;
}
.chatbox-wrapper .container .right .bubble.me:before {
  right: -3px;
  background-color: #eceff1;
}
.chatbox-wrapper .container .right .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
}
.chatbox-wrapper .container .right .conversation-start span {
  font-size: 14px;
  display: inline-block;
  color: var(--grey);
}
.chatbox-wrapper .container .right .conversation-start span:before, .chatbox-wrapper .container .right .conversation-start span:after {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 30%;
  height: 1px;
  content: '';
  background-color: var(--light);
}
.chatbox-wrapper .container .right .conversation-start span:before {
  left: 0;
}
.chatbox-wrapper .container .right .conversation-start span:after {
  right: 0;
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

.friendList {
	position: absolute;
	top: 96px;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	z-index: 1;
	overflow-y: auto;
	display: none;
}

.new-chat {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	margin-top: 5px;
}

/*Mobile Styles for Messenger*/

@media (max-width: 400px) {
	.chatbox-wrapper .container .left {
		display: none;
		width: 100%;
		position: absolute;
		z-index: 1;
	}

	.chatbox-wrapper .container .right {
		width: 100%;
	}

	.chatbox-wrapper .container .right .write {
		left: unset;
		width: 100%;
		position: absolute;
		bottom: -25px;
	}

	.chatbox-wrapper .container .right .write input {
		width: 75%;
	}

	.new-chat {
		display: inline-block;
		z-index: 2;
	}

	.chatbox-wrapper {
		height: 300px;
	}

	.chatbox-wrapper .container {
		height: 100%;
		margin-top: 40px;
	}

	/*.chatbox-wrapper .container .right .top {
		position: absolute;
	}*/
}