.nav {
	background-color: #042b8b;
}

.mv {
	margin-left: -100px;
}

.lbtn {
	right: -90px;
	background-color: #f65457;
	border-radius: 20px;
	border: 50px;
	padding: 1px 30px;
}

.foot {
	background-color: #0a64d3;
}

.card .divider {
	margin: 10px 0;
}

.avatar {
	width: 50px;
}

.seed-meta {
	margin-left: 20px;
}

.card-title {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.card-action span>span {
	font-size: 0.9em;
}

.card-action {
	display: flex;
	justify-content: space-between;
}

.card-action i {
	font-size: 1.3em;
	color: #555555;
}

.section .container {
	width: 90%;
}

.head-bg {
	background: #000;
	position: relative;
	padding: 10px;
	margin-bottom: 50px;
	height: 400px;
}

.head-bg-img {
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(https://getseeds.ca/demo_1/img/headers.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	opacity: 0.2;
	background-position: center center;
}

.edit {
	background-color: #8125e3;
	border-radius: 100px;
}

.hn {
	background-color: #0e0e0e00;
}