<% include ../partials/header %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="/asset/js/tinymce/jquery.tinymce.min.js"></script>
<script src="/asset/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
	tinymce.init({
		selector: '#post-body',
		plugins: "autosave textcolor colorpicker emoticons fullscreen image imagetools",
  		toolbar: "undo redo | restoredraft forecolor backcolor emoticons fullscreen undo redo formats | help | image",
  		autosave_interval: '20s',
  		height: 400,
  		branding: false,
  		image_advtab: true,
  		imagetools_cors_hosts: ['localhost'],
  		style_formats: [
		  {title: 'Image Left', selector: 'img', styles: {
		    'float' : 'left',
		    'margin': '0 10px 0 10px'
		  }},
		  {title: 'Image Right', selector: 'img', styles: {
		    'float' : 'right',
		    'margin': '0 10px 0 10px'
		  }}
		]


	});
</script>

<nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
<div class="container">
	<div class="row">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">mode_edit</i>
					<input type="text" id="post-title" name="seed[title]">
					<label for="post-title">Post Title</label>
				</div>
			</div>
			<div class="row">
				<div class="file-field input-field col s12">
					<div class="btn">
						<i class="material-icons">image</i>
						<input type="file" name="seed[featuredImg]">
					</div>
					<div class="file-path-wrapper">
						<input type="text" class="file-path validate" placeholder="Upload Feature Image">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 input-field">
					<textarea id="post-body" class="materialize-textarea"></textarea>
				</div>
			</div>
		</form>
	</div>
</div>

<% include ../partials/footer %>