<% include ../partials/header %>

<div class="container">
	<div class="row">
		<h1>New Seed</h1>
		<form class="col s12" action="/seeds" id="post-form" method="POST" enctype="multipart/form-data">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">mode_edit</i>
					<input type="text" id="post-title" name="seed[title]">
					<label for="post-title">Post Title</label>
				</div>
			</div>
			<div class="row">
				<div class="file-field input-field col s12">
					<div class="btn">
						<i class="material-icons">image</i>
						<input type="file" name="featuredImg">
					</div>
					<div class="file-path-wrapper">
						<input type="text" name="seed-image" class="file-path validate" placeholder="Upload Featured Image">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
				    <select multiple name="seed[category]">
						<option value="" disabled>Choose your option</option>
				      	<option value="art_entertainment">Art & Entertainment</option>
			      		<option value="industry">Industry</option>
				      	<option value="innovation_tech">Innovation & Technology</option>
				      	<option value="life">Life</option>
				      	<option value="society">Society</option>
				      	<option value="others">Others</option>
				    </select>
				    <label>Select Category</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 input-field">
					<textarea id="editor" name="seed[content]" class="materialize-textarea" placeholder="Enter content here..."></textarea>
				</div>
			</div>
			<input type="hidden" name="seed[excerpt]" id="excerpt">
			<button class="btn waves-effect waves-light" type="submit">Submit
				<i class="material-icons right">send</i>
			</button>
		</form>
	</div>
</div>

<% include ../partials/footer %>
<% include ../partials/footerCreate %>